* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Information */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
  line-height: 1.5;
  font-style: italic;
}

/* Header Styles */
header {
  background-image: url(../images/matrix.jpg);
  color: #3946b9;
  text-align: center;
  font-variant: small-caps;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  flex: 1;
  text-align: left;
  color: #fff;
}

.hero-banner {
   text-align: center;
   font-weight: bolder;
   background-color: rgb(80, 154, 223);
  
}

.header-right {
  flex: 1;
  text-align: right;
  color: #fff;
}

header h1 {
  font-size: 3rem;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: brown;
  color: #f9fbfc;
  font-size: large;
  text-shadow: rgb(221, 9, 9);
}

/* Section Styles */
section {
  padding: 40px;
}

#about {
  background-color: #15bbe4;
}

#work {
  background-color: #15bbe4;
  background-image: url(../images/blueee.jpg)
}

#contact {
  background-color: #15bbe4;
}

.page-section {
  text-align: center;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project Styles */
.project {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(38, 8, 175, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

/* Image Size*/
.project img {
  max-width: 100%;
  transition: transform 0.2s;
}

/* Span both columns */
.project-large {
  grid-column: 1 / span 2; 
}

/* Portfolio Container Styles */
.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

/* Media Queries for Smartphones */
@media screen and (max-width: 768px) {
  .container {
      padding: 100%;
  }

  .project {
      max-width: 100%;
  }
}